{%- extends "base.html" %}

{%- block title %}{{ site.title }}{% endblock %}

{%- block container %}
<div id="title">{{ site.title }}</div>

<div id="index">
{% for category_name, pages in site.structure.items() %}
{# Top-level wiki pages not display in index #}
{% if site.default_ext not in category_name %}
<h2 id="{{ category_name }}">{{ category_name }}</h2>
  {% set url = "./" ~ category_name %}
  {{ list_page(pages, url, category_name) }}
<div class="clearfix"></div>
{% endif %}
{% endfor %}
</div>
{%- endblock %}

{%- block script %}
<script>
  var list_wrappers = document.getElementsByClassName('list_wrapper')
  for (var i = 0, len = list_wrappers.length; i < len; i++) {
    var list_wrapper = list_wrappers[i];
    var coll_name = list_wrapper.getElementsByClassName('coll_name')[0];
    var coll_list = list_wrapper.getElementsByClassName('coll_list')[0];
    var width = coll_name.clientWidth + 3;
    // http://stackoverflow.com/a/10118190/1276501
    coll_list.setAttribute("style","margin-left: " + width + "px");
    coll_list.style.marginLeft = width + "px";
  }
</script>
{%- endblock %}
